<div class="chat-card attribute">
    <h1>{{attribute}}</h1>

    <div class="result">{{rollTotal}}</div>
    
    <div class="details hidden">
        <div class="row">
            <span>{{localize "shadowhunters.rollFormula"}}:</span>
            <span>{{rollFormula}}</span>
        </div>
        <div class="row">
            <span>{{localize "shadowhunters.resultDetail"}}:</span>
            <span>{{resultDetail}}</span>
        </div>
        <div class="row">
            <span>{{localize "shadowhunters.rollMode"}}:</span>
            <span>{{rollmode}}</span>
        </div>
    </div>

    {{#if fate}}
    <button class="fate-dice"><i class="fa-solid fa-dice"></i>{{localize "shadowhunters.buttonFateDice"}}</button>
    {{/if}}
</div>