<div class="chat-card attack">
    <h1>{{localize "shadowhunters.spellcheck"}}: {{spellname}}</h1>

    {{#if (eq critfumble "")}}
        <div class="result">{{rollTotal}}</div>
    {{/if}}

    {{#if (eq critfumble "crit")}}
        <div class="result crit">{{rollTotal}}</div>
        <div class="critfumble crit">{{localize "shadowhunters.criticalSuccess"}}</div>
    {{/if}}

    {{#if (eq critfumble "fumble")}}
        <div class="result fumble">{{rollTotal}}</div>
        <div class="critfumble fumble">{{localize "shadowhunters.fumble"}}</div>
    {{/if}}
    
    <div class="details hidden">
        <div class="row">
            <span>{{localize "shadowhunters.rollFormula"}}:</span>
            <span>{{rollFormula}}</span>
        </div>
        <div class="row">
            <span>{{localize "shadowhunters.resultDetail"}}:</span>
            <span>{{resultDetail}}</span>
        </div>
        <div class="row">
            <span>{{localize "shadowhunters.rollMode"}}:</span>
            <span>{{rollmode}}</span>
        </div>
    </div>

    <button class="fate-dice"><i class="fa-solid fa-dice"></i>{{localize "shadowhunters.buttonFateDice"}}</button>
</div>