<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <div class="sheet-body">
        <div>
            <h2>{{localize "shadowhunters.attributes"}}</h2>
            <div class="sheet-body-attributes">
                <label>{{localize "shadowhunters.quantity"}}</label>
                <div class="attribute-line">
                    <input type="text" data-dtype="Number" name="system.quantity.value" value="{{item.system.quantity.value}}">
                    <span>/</span>
                    <input type="text" data-dtype="Number" name="system.quantity.max" value="{{item.system.quantity.max}}">
                </div>
                <label>{{localize "shadowhunters.cost"}}</label>
                <input type="text" data-dtype="Number" name="system.cost" value="{{item.system.cost}}">                
            </div>
        </div>
        <div>
            <h2>{{localize "shadowhunters.description"}}</h2>
            <div class="sheet-body-description">
                {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>
</form>
